<!DOCTYPE html>
<html lang="en">

  <head>
      <title>PolsTrack</title>
      <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
      <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="./css/compare.css">
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="https://kit.fontawesome.com/5497cadb8e.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="./">PolsTrack</a>
      </div>
      <nav>
        <div class="item">
          <a href="./politician">新聞</a>
        </div>
        <div class="item current">
          <a href="./compare">比較</a>
        </div>
        <div class="item">
          <a href="./hots">熱門</a>
        </div>
      </nav>
    </header>



    <main>

      <div class="sidenav">
        <div class="filters">
          <ul>
            <li class="filter highlight" id="main">篩選</li>
          </ul>
        </div>
        <div class="mainFilter filterItems">
          <div class="politician">
            <ul id="appendPols">
              <li class="personTitle">人物</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% polsData.forEach(function(result){ %>
                  <li class="person"><%= result.name %></li>
                <% }); %>
              </div>
            </ul>
          </div>
          <div class="issueList scrollBar">
            <ul>
              <li class="issueTitle">議題</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% issuesData.forEach(function(result){ %>
                  <li class="issue"><%= result.name %></li>
                <% }); %>
              </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="content">

        <div class="top" id="compareTop">
          <div class="titlePolBox">
            <div class="titleName point" id="compTitleName1">人物一</div>
            <div class="newsCount right">70</div>
          </div>

          <div class="centerBox">
            <div class="titleIssue point" id="compTitleIssue">比較議題</div>
            <div class="switchBox">
              <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label switch" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
              </div>
              <div class="switchTitle">精準</div>
              <i class="fa fa-question-circle tooltip">
                <span class="tooltiptext">精準模式：<br>提高「新聞」與「人物」的相關性，更著重在「人物」所表達的意見。</span>
              </i>
            </div>
          </div>
          <div class="titlePolBox">
            <div class="newsCount left">999</div>
            <div class="titleName point right" id="compTitleName2">人物二</div>
          </div>
        </div>

        <div class="newslist" id="appendNewsP">
          <div class="tips" id="tips">請選擇「兩位人物」與「一個議題」以進行比較</div>
          <div class="noContent">無符合條件之新聞內容</div>
          <ul class="ulNews scrollBar" id="appendNews" onscroll="paging('oncoming')"></ul>
        </div>
      </div> <!-- Content End -->

    </main>

    <footer>

    </footer>

  <script src="./js/compare.js"></script>
  </body>


</html>
