<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Politician Track</title>
      <link rel="shortcut icon" href="#"/>
      <link rel="stylesheet" type="text/css" href="./css/compare.css">
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="./">Politician Track</a>
      </div>
      <nav>
        <div class="item">
          <a href="./politician">篩選</a>
        </div>
        <div class="item">
          <a href="./compare">比較</a>
        </div>
        <div class="item">
          <a href="./hots">熱門</a>
        </div>
      </nav>
      <div class="feature">
        <a href="./about">關於</a>
      </div>
    </header>



    <main>

      <div class="sidenav">
        <div class="filters">
          <ul>
            <li class="filter highlight" id="main">主選</li>
            <!-- <li class="filter" id="party">政黨</li> -->
            <!-- <li class="filter" id="region">地區</li> -->
            <!-- <li class="filter" id="time">時間</li> -->
          </ul>
        </div>
        <!-- <div class="partyList filterItems scrollBar">
          <ul>
            <li class="party">中國國民黨</li>
          </ul>
        </div> -->

        <div class="mainFilter filterItems">
          <div class="politician">
            <ul id="appendPols">
              <li class="personTitle">人物</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% polsData.forEach(function(result){ %>
                  <li class="person"><%= result.name %></li>
                <% }); %>
                <!-- <li class="person">韓國瑜</li> -->
              </div>
            </ul>
          </div>
          <div class="issueList scrollBar">
            <ul>
              <li class="issueTitle">議題</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% issuesData.forEach(function(result){ %>
                  <li class="issue"><%= result.name %></li>
                <% }); %>
                <!-- <li class="issue">一個中國</li> -->
              </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="content">

        <div class="top" id="compareTop">
          <div class="titleName point" id="compTitleName1">人物一</div>
          <div class="centerBox">
            <div class="titleIssue point" id="compTitleIssue">比較議題</div>
            <div class="switchBox">
              <div class="switchTitle"></div>
              <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label switch" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
              </div>
            </div>
          </div>
          <!-- <div class="titleIssue point" id="compTitleIssue">比較議題</div> -->
          <div class="titleName point right" id="compTitleName2">人物二</div>
        </div>

        <div class="newslist" id="appendNewsP">
          <div class="tips" id="tips">請選擇「兩位人物」與「一個議題」以進行比較</div>
          <div class="noContent">無符合條件之新聞內容</div>
          <ul class="ulNews scrollBar" id="appendNews" onscroll="paging('oncoming')"></ul>
        </div>
      </div> <!-- Content End -->

    </main>

    <footer>

    </footer>

  <script>

    const filters = document.querySelectorAll('.filter');
    const mainFilter = document.querySelector('.mainFilter');
    const partyList = document.querySelector('.partyList');
    const switchButton = document.querySelector('.switch');

    const people = document.querySelectorAll('.person');
    const issues = document.querySelectorAll('.issue');
    const parties = document.querySelectorAll('.party');

    const appendNews = document.getElementById("appendNews");

    const tips = document.getElementById("tips");
    const noContent = document.querySelector(".noContent");
    const personTitle = document.querySelector(".personTitle");
    const issueTitle = document.querySelector(".issueTitle");

    // Pol, Issue record
    let param = {
      pol: [],
      issue: [],
      party: []
    }

    let strictMode = false;

    // people eventListener use
    let firstPolName;
    let firstPolClass;
    let oldFirstPolName;
    let oldFirstPolClass;

    let newsLists;

    //------------ User click ------------

    // sidenav 選擇處理
    filters.forEach(filter => filter.addEventListener('click', function(event) {
      let chooseFilter = event.target.id;

      if(this.classList.contains("highlight")) { // 關掉 sidenav

        this.classList.remove("highlight");
        switch(chooseFilter) {
          case "main":
            mainFilter.style.display = "none";
            break;
          case "party":
            partyList.style.display = "none";
            break;
          default:
        }
      } else { // 該點擊項目尚未被選擇
        this.classList.add("highlight");
        switch(chooseFilter) {
          case "main":
            mainFilter.style.display = "flex";
            break;
          case "party":
            partyList.style.display = "block";
            break;
          default:
        }
      }
    }));

    // 人物選擇處理
    people.forEach(person => person.addEventListener('click', function(event) {
      param.pol = []; // 清空
      let compTitleName1 = document.getElementById("compTitleName1");
      let compTitleName2 = document.getElementById("compTitleName2");
      if(this.classList.contains("innerHighlight")) {
        if(this.innerText === oldFirstPolName) {
          this.classList.remove("innerHighlight");
          oldFirstPolName = "";
          firstPolName = "";
        } else {
          this.classList.remove("innerHighlight");
          firstPolName = oldFirstPolName;
          firstPolClass = oldFirstPolClass;
        }
      } else {
        if(firstPolName) {
          oldFirstPolName = firstPolName;
          oldFirstPolClass = firstPolClass;
          people.forEach(r => r.classList.remove("innerHighlight"));
          firstPolClass.add("innerHighlight");
          this.classList.add("innerHighlight");
        } else {
          this.classList.add("innerHighlight");
        }
        firstPolName = event.target.innerText;
        firstPolClass = event.target.classList;
      }

      people.forEach(function(person) {
        if(person.classList.contains("innerHighlight")) {
          param.pol.push(person.innerText);
        }
      });

      if(param.pol[0] && param.pol[1]) {
        compTitleName1.innerHTML = param.pol[0];
        compTitleName2.innerHTML = param.pol[1];
        compTitleName1.classList.remove("point");
        compTitleName2.classList.remove("point");
      } else if(param.pol[0] && !param.pol[1]) {
        compTitleName1.innerHTML = param.pol[0];
        compTitleName2.innerHTML = "人物二";
        compTitleName1.classList.remove("point");
        compTitleName2.classList.add("point");
      } else {
        compTitleName1.innerHTML = "人物一";
        compTitleName2.innerHTML = "人物二";
        compTitleName1.classList.add("point");
        compTitleName2.classList.add("point");
      }

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        appSide.scrollTop = 0;
        if(strictMode === false) {
          getCompare(param);
        } else {
          getCompareLess(param);
        }
        // getCompare(param);
      } else {
        removeData(appendNews);
        tips.style.display = "block";
        noContent.style.display = "none";
        appendNews.style.display = "none";
      }
    }));

    // 議題選擇處理
    issues.forEach(issue => issue.addEventListener('click', function(event) {
      param.issue = []; // 清空
      let compTitleIssue = document.getElementById("compTitleIssue");
      if(this.classList.contains("innerHighlight")) {
        this.classList.remove("innerHighlight");
        compTitleIssue.innerHTML = "比較議題";
        compTitleIssue.classList.add("point");
      } else {
        issues.forEach(r => r.classList.remove("innerHighlight"));
        this.classList.add("innerHighlight");
        compTitleIssue.innerHTML = this.innerHTML;
        compTitleIssue.classList.remove("point");
      }

      issues.forEach(function(issue) {
        if(issue.classList.contains("innerHighlight")) {
          param.issue.push(issue.innerText);
        }
      });

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        appSide.scrollTop = 0;
        if(strictMode === false) {
          getCompare(param);
        } else {
          getCompareLess(param);
        }
        // getCompare(param);
      } else {
        removeData(appendNews);
        tips.style.display = "block";
        noContent.style.display = "none";
        appendNews.style.display = "none";
      }
    }));

    switchButton.addEventListener('click', function(event) {

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        appSide.scrollTop = 0;
        if(strictMode === false) {
          getCompareLess(param);
          strictMode = true;
        } else {
          getCompare(param);
          strictMode = false;
        }
      } else {
        removeData(appendNews);
        tips.style.display = "block";
        appendNews.style.display = "none";
      }
    });

    // filter - 人物標題處理
    personTitle.addEventListener('click', function(event) {
      people.forEach(r => r.classList.remove("innerHighlight"));
      param.pol = [];
      firstPolName = "";
      oldFirstPolName = "";
      compTitleName1.innerHTML = "人物一";
      compTitleName2.innerHTML = "人物二";
      compTitleName1.classList.add("point");
      compTitleName2.classList.add("point");

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        appSide.scrollTop = 0;
        if(strictMode === false) {
          getCompare(param);
        } else {
          getCompareLess(param);
        }
        // getCompare(param);
      } else {
        removeData(appendNews);
        tips.style.display = "block";
        noContent.style.display = "none";
        appendNews.style.display = "none";
      }
    });

    // filter - 議題標題處理
    issueTitle.addEventListener('click', function(event) {
      issues.forEach(r => r.classList.remove("innerHighlight"));
      param.issue = [];
      compTitleIssue.innerHTML = "比較議題";
      compTitleIssue.classList.add("point");

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        appSide.scrollTop = 0;
        if(strictMode === false) {
          getCompare(param);
        } else {
          getCompareLess(param);
        }
        // getCompare(param);
      } else {
        removeData(appendNews);
        tips.style.display = "block";
        noContent.style.display = "none";
        appendNews.style.display = "none";
      }
    });

    //------------ Server ------------

    // Get compare DB data
    function getCompare(param) {
      $.ajax({
        url: "api/news/getNews",
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          removeData(appendNews);
          if(resp.data) {
            if(resp.data.news.length < 1){ // 無資料
              noContent.style.display = "block";
              appendNews.style.display = "none";
            } else {
              noContent.style.display = "none";
              appendNews.style.display = "block";
            }
            dataCompareForm(resp.data.news, param.pol);
            page = 0;
            next_paging = resp.data.next_paging;
          }
        }
      });
    }

    // Get compare DB data - paging
    function getComparePage(param, page) {
      scrollStatus = false;
      $.ajax({
        url: `api/news/getNews?paging=${page}`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          if(resp.data) {
            if(resp.data.news.length < 1){ // 無資料
              noContent.style.display = "block";
              appendNews.style.display = "none";
            } else {
              noContent.style.display = "none";
              appendNews.style.display = "block";
            }
            dataCompareForm(resp.data.news, param.pol);
            next_paging = resp.data.next_paging;
            scrollStatus = true;
          }          
        }
      });
    }

    // DB 取資料 - 標題 mode
    function getCompareLess(param) {
      $.ajax({
        url: "api/news/getNews/strict",
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          removeData(appendNews);
          dataCompareForm(resp.data.news, param.pol);
          page = 0;
          next_paging = resp.data.next_paging;
        }
      });
    }

    // DB 取資料 - 標題 mode - page
    function getCompareLessPage(param, page) {
      scrollStatus = false;
      $.ajax({
        url: `api/news/getNews/strict?paging=${page}`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          dataCompareForm(resp.data.news, param.pol);
          next_paging = resp.data.next_paging;
          scrollStatus = true;
        }
      });
    }

    //------------ Function ------------

    // 移除重複點擊
    function toggle(condition, events) {
      if(!condition) {
        condition = event.target.innerText;
      } else {
        if(condition === event.target.innerText) {
          condition = '';
        } else {
          condition = event.target.innerText;
        }
      }
      return condition;
    }

    // Compare data 組裝
    function dataCompareForm(respData, pol) {

      for (let i = 0; i < respData.length; i ++) {
        // timeDivide
        var timeDivideDiv = document.createElement("div");
        timeDivideDiv.className = "timeDivide";

        var timeDivideSpan = document.createElement("span");

        var time = new Date(respData[i].pubTime);

        if(i > 0) {
          var preRawTime = new Date(respData[i - 1].pubTime);

          var preTime = preRawTime.getFullYear() + " / " + (preRawTime.getMonth() < 10 ? '0' : '') + (preRawTime.getMonth() + 1);
          var curTime = time.getFullYear() + " / " + (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);

          if(preTime !== curTime) {
            timeDivideSpan.innerHTML = curTime;
            timeDivideDiv.appendChild(timeDivideSpan);
          } else {
            timeDivideDiv.style.display = "none";
          }
        } else {
          timeDivideSpan.innerHTML = time.getFullYear() + " / " + (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
          timeDivideDiv.appendChild(timeDivideSpan);
        }

        appendNews.appendChild(timeDivideDiv);

        var li = document.createElement("li");

        var clickDiv = document.createElement("div");
        clickDiv.setAttribute("onclick", "readMore()");

        // news
        var link = document.createElement("a");
        link.setAttribute("href", `${respData[i].href}`);
        link.setAttribute("target", "_blank");

        if(respData[i].tag_id === pol[0]) {
          clickDiv.className = "left click";
          link.className = "news leftnews disabled";
        } else if (respData[i].tag_id === pol[1]) {
          clickDiv.className = "right click";
          link.className = "news rightnews disabled";
        } else {
          clickDiv.className = "center click";
          link.className = "news centernews disabled";
        }

        var newsContentDiv = document.createElement("div");
        newsContentDiv.className = "news-content";

        var titleDiv = document.createElement("div");
        titleDiv.className = "title hidden";
        titleDiv.innerHTML = respData[i].title;

        var publisherDiv = document.createElement("div");
        publisherDiv.className = "publisher hidden";
        publisherDiv.innerHTML = respData[i].publisher;

        var pubTimeDiv = document.createElement("div");
        pubTimeDiv.className = "pubTime hidden";
        pubTimeDiv.innerHTML = respData[i].pubTime;

        var descDiv = document.createElement("div");
        descDiv.className = "desc hidden";

        var descP = document.createElement("p");
        descP.innerHTML = respData[i].content;

        descDiv.appendChild(descP);
        newsContentDiv.appendChild(titleDiv);
        newsContentDiv.appendChild(publisherDiv);
        newsContentDiv.appendChild(pubTimeDiv);
        newsContentDiv.appendChild(descDiv);

        link.appendChild(newsContentDiv);

        // 組合
        clickDiv.appendChild(link);
        li.appendChild(clickDiv);

        appendNews.appendChild(li);
        appendNews.style.display = "block";
      }
    }

    // 移除子項目
    function removeData(item) {
      var child = item.lastElementChild;
      while(child) {
        item.removeChild(child);
        child = item.lastElementChild;
      }
    }

    function readMore() {
      event.target.removeAttribute("onclick");
      let newsContent = event.target.childNodes[0].childNodes[0].childNodes;
      for(let i = 0; i < newsContent.length; i++) {
        newsContent[i].classList.remove("hidden");
      }
      event.target.childNodes[0].classList.remove("disabled");
    }


    let page = 0;
    let next_paging = 0;
    let scrollStatus = true;

    let appSide = document.querySelector("#appendNews");

    function paging(cond) {
      if(scrollStatus === false) { // waiting for next page
        return;
      }
      let x = appSide.scrollHeight - appSide.scrollTop;
      if(x < 1100 && next_paging !== undefined) {
        page++;
        if(strictMode === false) {
          getComparePage(param, page);
        } else {
          getCompareLessPage(param, page);
        }
      }
    }


  </script>

  </body>


</html>
