<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Politician Track</title>
      <link rel="shortcut icon" href="#"/>
      <link rel="stylesheet" type="text/css" href="./css/compare.css">
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="./">Politician Track</a>
      </div>
      <nav>
        <div class="item">
          <a href="./politician">篩選</a>
        </div>
        <div class="item">
          <a href="./compare">比較</a>
        </div>
        <div class="item">
          <a href="./hots">熱門</a>
        </div>
      </nav>
      <div class="feature">
        <a href="./about">About Us</a>
      </div>
    </header>



    <main>

      <div class="sidenav">
        <div class="filters">
          <ul>
            <li class="filter highlight" id="main">主選</li>
            <li class="filter" id="party">政黨</li>
            <!-- <li class="filter" id="region">地區</li> -->
            <!-- <li class="filter" id="time">時間</li> -->
          </ul>
        </div>
        <div class="partyList filterItems scrollBar">
          <ul>
            <li class="party">中國國民黨</li>
            <li class="party">民主進步黨</li>
            <li class="party">台灣民眾黨</li>
            <li class="party">時代力量</li>
            <li class="party">台灣基進</li>
            <li class="party">親民黨</li>
            <li class="party">無黨團結聯盟</li>
            <li class="party">台灣團結聯盟</li>
            <li class="party">國會政黨聯盟</li>
            <li class="party">綠黨</li>
            <li class="party">勞動黨</li>
            <li class="party">新黨</li>
            <li class="party">中華民族致公黨</li>
            <li class="party">社會民主黨</li>
          </ul>
        </div>

        <div class="mainFilter filterItems">
          <div class="politician">
            <ul id="appendPols">
              <li class="personTitle">人物</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% polsData.forEach(function(result){ %>
                  <li class="person"><%= result.name %></li>
                <% }); %>
                <!-- <li class="person">韓國瑜</li> -->
              </div>
            </ul>
          </div>
          <div class="issueList scrollBar">
            <ul>
              <li class="issueTitle">議題</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% issuesData.forEach(function(result){ %>
                  <li class="issue"><%= result.name %></li>
                <% }); %>
                <li class="issue">一個中國</li>
              </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="content">

        <div class="top" id="compareTop">
          <div class="titleName point" id="compTitleName1">人物一</div>
          <div class="titleIssue point" id="compTitleIssue">比較議題</div>
          <div class="titleName point right" id="compTitleName2">人物二</div>
        </div>

        <div class="newslist scrollBar" id="appendNewsP">
          <div class="tips" id="tips">請選擇「兩位人物」與「一個議題」以進行比較</div>
          <ul class="ulNews" id="appendNews"></ul>
        </div>
      </div> <!-- Content End -->

    </main>

    <footer>

    </footer>

  <script>

    const filters = document.querySelectorAll('.filter');
    const mainFilter = document.querySelector('.mainFilter');
    const partyList = document.querySelector('.partyList');

    const people = document.querySelectorAll('.person');
    const issues = document.querySelectorAll('.issue');
    const parties = document.querySelectorAll('.party');

    const appendNews = document.getElementById("appendNews");
    const tips = document.getElementById("tips");

    // Pol, Issue record
    let param = {};
    let polList = [];
    let issueList = [];

    // people eventListener use
    let firstPolName;
    let firstPolClass;
    let oldFirstPolName;
    let oldFirstPolClass;

    let newsLists;

    //------------ User click ------------

    // sidenav 選擇處理
    filters.forEach(filter => filter.addEventListener('click', function(event) {
      let chooseFilter = event.target.id;

      if(this.classList.contains("highlight")) { // 關掉 sidenav

        this.classList.remove("highlight");
        switch(chooseFilter) {
          case "main":
            mainFilter.style.display = "none";
            break;
          case "party":
            partyList.style.display = "none";
            break;
          default:
        }
      } else { // 該點擊項目尚未被選擇
        this.classList.add("highlight");
        switch(chooseFilter) {
          case "main":
            mainFilter.style.display = "flex";
            break;
          case "party":
            partyList.style.display = "block";
            break;
          default:
        }
      }
    }));

    // 人物選擇處理
    people.forEach(person => person.addEventListener('click', function(event) {
      polList = []; // 清空
      let compTitleName1 = document.getElementById("compTitleName1");
      let compTitleName2 = document.getElementById("compTitleName2");
      if(this.classList.contains("innerHighlight")) {
        if(this.innerText === oldFirstPolName) {
          this.classList.remove("innerHighlight");
          oldFirstPolName = "";
          firstPolName = "";
        } else {
          this.classList.remove("innerHighlight");
          firstPolName = oldFirstPolName;
          firstPolClass = oldFirstPolClass;
        }
      } else {
        if(firstPolName) {
          oldFirstPolName = firstPolName;
          oldFirstPolClass = firstPolClass;
          people.forEach(r => r.classList.remove("innerHighlight"));
          firstPolClass.add("innerHighlight");
          this.classList.add("innerHighlight");
        } else {
          this.classList.add("innerHighlight");
        }
        firstPolName = event.target.innerText;
        firstPolClass = event.target.classList;
      }

      people.forEach(function(person) {
        if(person.classList.contains("innerHighlight")) {
          polList.push(person.innerText);
        }
      });

      param.pol = polList;
      param.issue = issueList;

      if(param.pol[0] && param.pol[1]) {
        compTitleName1.innerHTML = param.pol[0];
        compTitleName2.innerHTML = param.pol[1];
        compTitleName1.classList.remove("point");
        compTitleName2.classList.remove("point");
      } else if(param.pol[0] && !param.pol[1]) {
        compTitleName1.innerHTML = param.pol[0];
        compTitleName2.innerHTML = "人物二";
        compTitleName1.classList.remove("point");
        compTitleName2.classList.add("point");
      } else {
        compTitleName1.innerHTML = "人物一";
        compTitleName2.innerHTML = "人物二";
        compTitleName1.classList.add("point");
        compTitleName2.classList.add("point");
      }

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        getCompare(param);
      } else {
        removeData(appendNews);
        tips.style.display = "block";
      }
    }));

    // 議題選擇處理
    issues.forEach(issue => issue.addEventListener('click', function(event) {
      issueList = []; // 清空
      let compTitleIssue = document.getElementById("compTitleIssue");
      if(this.classList.contains("innerHighlight")) {
        this.classList.remove("innerHighlight");
        compTitleIssue.innerHTML = "比較議題";
        compTitleIssue.classList.add("point");
      } else {
        issues.forEach(r => r.classList.remove("innerHighlight"));
        this.classList.add("innerHighlight");
        compTitleIssue.innerHTML = this.innerHTML;
        compTitleIssue.classList.remove("point");
      }

      issues.forEach(function(issue) {
        if(issue.classList.contains("innerHighlight")) {
          issueList.push(issue.innerText);
        }
      });

      param.pol = polList;
      param.issue = issueList;

      if(param.pol.length === 2 && param.issue.length === 1) {
        tips.style.display = "none";
        getCompare(param);
      } else {
        removeData(appendNews);
        tips.style.display = "block";
      }
    }));

    childFilter(parties);

    // 子 filter 處理
    function childFilter(items) {
      items.forEach(item => item.addEventListener('click', function() {
        if(this.classList.contains("innerHighlight")) {
          this.classList.remove("innerHighlight");
        } else {
          this.classList.add("innerHighlight");
        }
      }));
    }


    //------------ Server ------------

    // Get compare DB data
    function getCompare(param) {
      $.ajax({
        url: "api/news/getNews",
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          removeData(appendNews);
          dataCompareForm(resp.data, param.pol);
        }
      });
    }

    //------------ Function ------------

    // 移除重複點擊
    function toggle(condition, events) {
      if(!condition) {
        condition = event.target.innerText;
      } else {
        if(condition === event.target.innerText) {
          condition = '';
        } else {
          condition = event.target.innerText;
        }
      }
      return condition;
    }

    // Compare data 組裝
    function dataCompareForm(respData, pol) {

      for (let i = 0; i < respData.length; i ++) {
        // timeDivide
        var timeDivideDiv = document.createElement("div");
        timeDivideDiv.className = "timeDivide";

        var timeDivideSpan = document.createElement("span");

        var time = new Date(respData[i].pubTime);

        if(i > 0) {
          var preRawTime = new Date(respData[i - 1].pubTime);

          var preTime = preRawTime.getFullYear() + " / " + (preRawTime.getMonth() < 10 ? '0' : '') + (preRawTime.getMonth() + 1);
          var curTime = time.getFullYear() + " / " + (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);

          if(preTime !== curTime) {
            timeDivideSpan.innerHTML = curTime;
            timeDivideDiv.appendChild(timeDivideSpan);
          } else {
            timeDivideDiv.style.display = "none";
          }
        } else {
          timeDivideSpan.innerHTML = time.getFullYear() + " / " + (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
          timeDivideDiv.appendChild(timeDivideSpan);
        }

        appendNews.appendChild(timeDivideDiv);

        var li = document.createElement("li");

        var clickDiv = document.createElement("div");
        clickDiv.setAttribute("onclick", "readMore()");

        // news
        var link = document.createElement("a");
        link.setAttribute("href", `${respData[i].href}`);
        link.setAttribute("target", "_blank");

        if(respData[i].tag_id === pol[0]) {
          clickDiv.className = "left click";
          link.className = "news leftnews disabled";
        } else if (respData[i].tag_id === pol[1]) {
          clickDiv.className = "right click";
          link.className = "news rightnews disabled";
        } else {
          clickDiv.className = "center click";
          link.className = "news centernews disabled";
        }

        var newsContentDiv = document.createElement("div");
        newsContentDiv.className = "news-content";

        var titleDiv = document.createElement("div");
        titleDiv.className = "title hidden";
        titleDiv.innerHTML = respData[i].title;

        var publisherDiv = document.createElement("div");
        publisherDiv.className = "publisher hidden";
        publisherDiv.innerHTML = respData[i].publisher;

        var pubTimeDiv = document.createElement("div");
        pubTimeDiv.className = "pubTime hidden";
        pubTimeDiv.innerHTML = respData[i].pubTime;

        var descDiv = document.createElement("div");
        descDiv.className = "desc hidden";

        var descP = document.createElement("p");
        descP.innerHTML = respData[i].content;

        descDiv.appendChild(descP);
        newsContentDiv.appendChild(titleDiv);
        newsContentDiv.appendChild(publisherDiv);
        newsContentDiv.appendChild(pubTimeDiv);
        newsContentDiv.appendChild(descDiv);

        link.appendChild(newsContentDiv);

        // 組合
        clickDiv.appendChild(link);
        li.appendChild(clickDiv);

        appendNews.appendChild(li);
      }
    }

    // 移除子項目
    function removeData(item) {
      var child = item.lastElementChild;
      while(child) {
        item.removeChild(child);
        child = item.lastElementChild;
      }
    }

    function readMore() {
      event.target.removeAttribute("onclick");
      let newsContent = event.target.childNodes[0].childNodes[0].childNodes;
      for(let i = 0; i < newsContent.length; i++) {
        newsContent[i].classList.remove("hidden");
      }
      event.target.childNodes[0].classList.remove("disabled");
    }


  </script>

  </body>


</html>
