html, body {
	margin: 0px;
}

body {
	font-size: 16px;
	font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
	color: #3f3a3a;
}

form {
	margin: 0px;
  padding: 0px;
}

a {
	text-decoration: none;
  color: inherit;
}

h1,h4,p {
	margin: 0;
}

input,select,img {
	vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* header */
header {
	display: flex;
  height: 80px;
  color: #FFFFFF;
  background-color: #232323;
	align-items: center;
}

header>.logo {
	flex: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
	letter-spacing: 4px;
  width: 250px;
  margin-left: 30px;
}

header>nav {
	flex: auto;
  display: flex;
}

header>nav>.item {
	flex: none;
  width: 90px;
  letter-spacing: 25px;
  margin-left: 30px;
	border-right: 1px solid #FFFFFF;
  text-align: center;
	cursor: pointer;
}

header>nav>.item:hover,
header>.feature:hover,
.sidenav .filter:hover,
.sidenav .politician .person:hover,
.sidenav .issueList .issue:hover,
.sidenav .partyList li:hover,
.sidenav .regionList li:hover {
	color: #FFD479;
}

header>nav>.item:last-child {
	border-right-width: 0px;
}

header>.feature {
	flex: none;
  margin-right: 30px;
}

main {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

/* sidenav */
.sidenav {
	flex: 1;
	display: flex;
	justify-content: space-around;
	margin: 0;
}

/* filters */
.filters {
	/* flex: 1; */
	width: 120px;
	height: 89.6vh;
	background-color: #232323;
}

.sidenav .mainFilter {
	display: none;
	justify-content: center;
}

/* politician */
.sidenav .politician {
	/* flex: 1; */
	width: 120px;
	height: 89.6vh;
	/* overflow-y: scroll; */
	background-color: #000000;
	border-right: 1px solid #262626;
}

/* issue */
.sidenav .issueList {
	/* flex: 1.5; */
	width: 150px;
	height: 89.6vh;
	/* overflow-y: scroll; */
	background-color: #000000;
}

/* party */
.sidenav .partyList {
	display: none;
	/* flex: 1.5; */
	width: 170px;
	height: 89.6vh;
	overflow-y: scroll;
	background-color: #000000;
}

/* region */
.sidenav .regionList {
	display: none;
	/* flex: 1.5; */
	width: 150px;
	height: 89.6vh;
	overflow-y: scroll;
	background-color: #000000;
}

.sidenav .filter {
	padding: 20px 0;
  /* margin: 20px 0; */
}

.sidenav .filter a {
  font-size: 1.3rem;
  margin: 20px 0;
}

.sidenav .filter,
.sidenav .politician li,
.sidenav .issueList li,
.sidenav .partyList li,
.sidenav .regionList li {
	color: #FFFFFF;
	letter-spacing: 3px;
	text-indent: 3px;
  display: block;
	text-align: center;
  font-size: 1rem;
  padding: 20px 0;
	cursor: pointer;
}

/* 人物、議題標題 */
.sidenav .politician li.personTitle,
.sidenav .issueList li.issueTitle {
	padding-bottom: 10px;
	font-size: 1.5rem;
}

/* .box{
    width:100px;
    height:100px;
    background-color:#ccc
  } */

.politician .box-border {
  position: relative;
  left: 24.5px;
  width: 70px;
	margin-bottom: 10px;
  border-bottom: 1.5px solid #FFFFFF;
}

.issueList .box-border {
  position: relative;
  left: 31px;
  width: 88px;
	margin-bottom: 10px;
  border-bottom: 1.5px solid #FFFFFF;
}

/* content */
.content {
	/* flex: 2; */
	width: 100%;
	height: 85vh;
	overflow-y: scroll;
	padding: 0 30px;
	/* margin-top: 20px; */
	margin: 20px 10px 0;
}

.content>.top>.titleName {
	display: inline-block;
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 10px;
}

.content>.top>.titleIssue {
	display: inline-block;
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: 15px;
}

.content>.newslist {
	display: flex;
	flex-wrap: wrap;
}

/* news */
.news {
	width: 760px;
	margin: 10px 0;
	padding: 15px;
	border: 1px solid #232323;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(35,35,35, 0.7);
}

.news>.news-content .title {
	font-size: 1.3rem;
	margin-bottom: 10px;

}

.news>.news-content .publisher {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}

.news>.news-content .pubTime {
	display: inline-block;
	margin-bottom: 10px;
}

.news>.news-content .desc {
	overflow: hidden;
	text-overflow: ellipsis;
}

.news>.news-content p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}


.highlight {
	background-color: #000000;
}

.innerHighlight {
	background-color: #454545;
}




















/* End */
