@import "common.css";

/* filter */
.sidenav .mainFilter {
	display: flex;
}

/* title */

.content .top {
	height: 120px;
	display: flex;
	justify-content: space-around;
  align-items: center;
}

.content .top .titleName {
	display: inline-block;
	font-weight: bold;
	font-size: 3rem;
	padding: 5px 10px;
	border: 1.5px solid #232323;
	border-radius: 15px;
}

.content .top .titleName.right{
	background-color: rgba(23,23,23, .1);
}

.content .top .titleIssue {
	display: inline-block;
  letter-spacing: 2px;
	font-weight: 500;
	font-size: 1.2rem;
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #FF9300;
  border: 1px solid #FF9300;
  border-radius: 1.2rem;
}

.content .titleName.point {
	color: #808080;
}

.content .titleIssue.point {
	background-color: #808080;
	border: 1px solid #808080;
}


/* news content */

.ulNews .news.rightnews {
  color: #000000;
  background-color: rgba(23,23,23, .1)
}

.ulNews .news.centernews {
  max-width: 100%;
  color: #FFFFFF;
  background-color: #232323;
}

.ulNews .news.centernews .title {
  font-size: 1.5rem;
}

.ulNews .news.centernews .desc {
  font-size: 1.3rem;
}

.news.centernews .news-content p {
	-webkit-line-clamp: 3;
}

.newslist>ul>li {
  display: block;
}

.newslist>ul>li .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.newslist>ul>li .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.newslist>ul>li .center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.click {
	display: flex;
}

/* 預先隱藏 */
.ulNews .news .news-content .publisher.hidden,
.ulNews .news .news-content .desc.hidden {
  display: none;
}

.news>.news-content .title.hidden {
	margin-bottom: 0;
}

.news>.news-content .pubTime.hidden {
	margin-bottom: 0;
}

.ulNews a.disabled {
  pointer-events: none;
}

/* time divide */

.timeDivide {
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  text-align: center;
  margin: 25px 0;
}

.timeDivide span {
  font-size: 1.3rem;
  position: relative;
  top: -11px;
  background: #FFFFFF;
  padding: 0 20px;
}

#appendNewsP {
	display: flex;
}

#tips {
	font-size: 1.5rem;
	line-height: 1.5rem;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
