html, body {
	margin: 0px;
}

body {
	font-size: 16px;
	font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
	color: #3f3a3a;
}

form {
	margin: 0px;
  padding: 0px;
}

a {
	text-decoration: none;
  color: inherit;
}

input,select,img {
	vertical-align: middle;
}

/* scrollbar */
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
-webkit-border-radius: 10px;
border-radius: 10px;
margin:5px 0 5px 0;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 4px;
border-radius: 4px;
background: rgb(255,0,0);
}

/* header */
header {
	display: flex;
  height: 80px;
  color: #FFFFFF;
  background-color: #232323;
	align-items: center;
}

header>.logo {
	flex: none;
  font-size: 4.5rem;
  line-height: 4.5rem;
  width: 150px;
  margin-left: 30px;
}

header>nav {
	flex: auto;
  display: flex;
}

header>nav>.item {
	flex: none;
  width: 90px;
  letter-spacing: 25px;
  margin-left: 30px;
	border-right: 1px solid #FFFFFF;
  text-align: center;
	cursor: pointer;
}

header>nav>.item:hover,
header>.feature:hover {
	color: #FFD479;
}

header>nav>.item:last-child {
	border-right-width: 0px;
}

header>.feature{
	flex: none;
  margin-right: 30px;
}

/* sidebar */
.sidenav {
  /* display: block; */
  width: 400px;
}

.sidenav>.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
	z-index: 1;
  top: 80;
  left: 0;
  background-color: #232323;
  overflow-x: hidden;
  text-align: center;
  border-right: 1px solid #FFFFFF;
}

.sidenav>.sidebar .filter {
  margin: 40px 0;
}

.sidenav>.sidebar .filter a {
  font-size: 1.3rem;
  color: #FFFFFF;
  margin: 20px 0;
}

/* politician */
.sidenav>.politician {
  height: 100%;
  width: 150px;
  position: fixed;
	z-index: 1;
  top: 80;
  left: 100px;
  background-color: #232323;
  overflow-x: hidden;
  text-align: center;
  border-right: 1px solid #FFFFFF;
}

/* issue */
.sidenav>.issue {
  height: 100%;
  width: 150px;
  position: fixed;
	z-index: 1;
  top: 80;
  left: 250px;
  background-color: #232323;
  overflow-x: hidden;
  text-align: center;
}

.sidenav>.politician ul,
.sidenav>.issue ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav>.politician li,
.sidenav>.issue li {
  display: block;
  font-size: 1.3rem;
  color: #FFFFFF;
  padding: 10px;
  margin: 20px 0;
}

nav>.politician li {
  font-size: 1.3rem;
}

nav>.issue li {
  font-size: 1rem;
}





























/* End */
